:root {
  --vp-c-brand-1: #0482d8;
  --vp-c-brand-2: #0482d8;
  --vp-c-brand-3: #0482d8;

  --vp-button-brand-bg: #0482d8;
  --vp-button-brand-hover-bg: #0482d8;
  --vp-button-brand-active-bg: #0482d8;
}

.dark {
  --vp-c-brand-1: #0482d8;
}
